<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Add post</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ../layout/head %>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<%- include ../layout/nav %>

<div class="container">
    <h2>Edit post</h2>
    <div id="signupalert" style="<%if (!data || !data.error){ %> display:none; <%}%>" class="alert alert-danger">
        <p>Error:</p>

        <% if (data && data.error){ %>
            <span> <%= data.error %></span>

        <% } %>
    </div>
    <form method="" action="">
      <input class="id" type="hidden" name="id" value="<% if (data && data.post) {%><%= data.post.id  %><%}%>">
      <div class="form-group">
        <label>title:</label>
        <input class="form-control title" name="title" value="<% if (data && data.post) {%><%= data.post.title  %><%}%>">
      </div>
      <div class="form-group">
        <label>author:</label>
        <input class="form-control author" name="author" value="<% if (data && data.post) {%><%= data.post.author  %><%}%>">
      </div>
      <div class="form-group">
          <label>content:</label>
          <textarea class="form-control content" name="content" id="" cols="30" rows="5"><% if (data && data.post) {%><%= data.post.content  %><%}%></textarea>
      </div>
      <input type="button" value="Edit" class="btn post_edit">
    </form>
</div>
<script type="text/javascript" src="/static/js/post.js"></script>

</body>
</html>
